<%# Шаблон, который выводит информацию о конкретной игре для профиля пользователя %>
<tr class="text-center">
  <td><%= game.id %></td>
  <td><%= game_label(game) %></td>
  <td><%= l game.created_at, format: :short %></td>
  <td><%= game.current_level %></td>
  <td><%= number_to_currency game.prize %></td>
  <td>
    <%= content_tag :span, '50/50',
      class: "label label-primary #{'game-help-used' if game.fifty_fifty_used?}"
    %>
    <%= content_tag :span, fa_icon('phone'),
      class: "label label-primary #{'game-help-used' if game.friend_call_used?}"
    %>
    <%= content_tag :span, fa_icon('users'),
      class: "label label-primary #{'game-help-used' if game.audience_help_used?}"
    %>
  </td>
</tr>
