<%# Фрагмент для вывода кнопок подсказок, а также информации из этих подсказок %>

<div class="game-help-info">
  <%# Если в хэше help есть ключь friend_call или audience_help, нам есть что показать пользователю %>
  <% if help.key?(:friend_call) || help.key?(:audience_help) %>
    <div class="row buffer-top-lg">
      <div class="col-xs-12">
        <%# Выводим информацию о подсказке "Звонок другу" %>
        <% if help.key?(:friend_call) %>
          <div class="alert alert-info text-center">
            <%= help[:friend_call] %>
          </div>
        <% end %>

        <% if help.key?(:audience_help) %>
          <p>Зрители считают: </p>
          <%# Выводим распределение голосов зрителей %>
          <% help[:audience_help].sort.map do |key, value| %>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" style="width: <%= value %>%;">
                <%= key.upcase %>: <%= value %>%
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%# Выводим подсказки, которые можно использовать во время игры %>
<div class="game-help row buffer-top">
  <div class="col-sm-4">
    <%# Для каждой подсказки с помощью объекта game проверяем, не была ли подсказка использована ранее %>
    <% unless game.fifty_fifty_used? %>
      <%= link_to '50/50', help_game_path(game, help_type: :fifty_fifty), method: :put, class: 'btn btn-default btn-block btn-help' %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% unless game.friend_call_used? %>
      <%= link_to fa_icon('phone'), help_game_path(game, help_type: :friend_call), method: :put, class: 'btn btn-default btn-block btn-help' %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% unless game.audience_help_used? %>
      <%= link_to fa_icon('users'), help_game_path(game, help_type: :audience_help), method: :put, class: 'btn btn-default btn-block btn-help' %>
    <% end %>
  </div>
</div>
